{% extends "homepage/base.html" %}
{% load static %}
	{% block content %}
		
		<title>Get to Know Me!</title>
		
	</head>

	<body class="body">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
			<div class="container">
				<a class="navfont" style="color:white">BAGUS PRABOWO</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:home' %}">HOME</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:about' %}">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:contact' %}">CONTACT ME</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle navfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  FORM
							</a>
							<div class="dropdown-menu bg-dark navfont" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" style="color:white !important" href="{%  url 'homepage:friendform' %}">FORM FILL</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" style="color:white !important;" href="{%  url 'homepage:friendlist' %}">FRIENDS LIST</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:gallery' %}">GALLERY</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container">
			
			<div class="col-md-auto welcome">
				<b>
					ABOUT ME
				</b>
			</div>
			
		</div>
			
			
		<div class="container" style="margin-bottom:25px">
			
			<div class="row justify-content-start center">
				<div class="col-md-auto col-sm text-center">
					<img src="{% static 'homepage/Pictures/lab315345.jpeg' %}" alt="Bagus 1" class="profilepicture picturemargin" data-aos="fade" data-aos-duration="2000">
				</div>
				<div class="col-sm bodyfont about1">
					Hi! I'm Bagus. I'm a second semester Computer Science student in The University of Indonesia class of 2019.
				</div>
			</div>
			
			<div class="row justify-content-around center margintop">
				<div class="col-sm bodyfont about2">
					I'm interested in cooking and photography, especially film photography. Everything in this website are captured using C-41 films.
				</div>
				<div class="col-sm col-md-auto text-center">
					<img src="{% static 'homepage/Pictures/lab315317.jpeg' %}" alt="Bagus 2" class="profilepicture picturemargin" data-aos="fade-up" data-aos-duration="2000">
				</div>
			</div>
			
			<div class="row justify-content-end center margintop">
				<div class="col-sm col-md-auto text-center">
					<img src="{% static 'homepage/Pictures/lab315302.jpeg' %}" alt="Rustic Egypt" class="profilepicture picturemargin" data-aos="fade-right" data-aos-duration="2000">
				</div>
				<div class="col-sm text-center bodyfont">
					As for my skills, I can do the basics of programming in Python Programming Language. Currently studying Java, HTML5, CSS, and JavaScript.
					<br><br>
					<button type="button" class="btn btn-primary shadow-none bg-brown" data-toggle="modal" data-target="#exampleModal">
						<b class="bodyfont"><u>Click Here for my CV</u></b>
					</button>

					</a>
				</div>
			</div>
			
		</div>

		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title buttonfont" id="exampleModalLabel" style="color:black">See my education and experience history!</b></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					
					<div class="modal-body buttonfont" style="color:black; font-size:125%">
						Click below to download my CV!
					</div>
					
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary navfont" data-dismiss="modal" style="background:black; font-size:100%">Close</button>
						<a href="{% static 'homepage/CV.pdf' %}">
							<button type="button" class="btn btn-secondary navfont" style="background:black; font-size:100%">Download my CV</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	
{% endblock %}