{% extends "homepage/base.html" %}
{% load static %}

	{% block content %}
		
		<title>Contact List</title>
		
	</head>

	<body class="body">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
			<div class="container">
				<a class="navfont" style="color:white">BAGUS PRABOWO</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:home' %}">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:about' %}">ABOUT</a>
						</li>
						<li class="nav-item active">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:contact' %}">CONTACT ME</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle navfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  FORM
							</a>
							<div class="dropdown-menu bg-dark navfont" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" style="color:white !important" href="{%  url 'homepage:friendform' %}">FORM FILL</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" style="color:white !important;" href="{%  url 'homepage:friendlist' %}">FRIENDS LIST</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:gallery' %}">GALLERY</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container center">
			
			<div class="col-md-auto welcome">
				<b>
					GET IN TOUCH WITH ME!
				</b>
			</div>
			
		</div>
			
		<div class="container" style="margin-top:50px; margin-bottom:100px">	
		
		
			<div class="card-deck">
			
			
				<div class="card" data-aos="fade-left" data-aos-duration="2000">
					<div class="card-body center">
						<h5 class="card-title cardtitlefont">INSTAGRAM</h5>
						<p class="card-text cardfont">Follow me to see more of my film photography madness!</p>
						<a href="http://www.instagram.com/prbagus">
							<button type="button" class="btn btn-primary navfont bg-dark shadow-none" data-toggle="button" aria-pressed="false" style="font-size:150%">
								@prbagus
							</button>
						</a>
					</div>
				</div>
				
				<div class="card" style="background-color:black" data-aos="fade-right" data-aos-duration="2000">
					<div class="card-body" style="color:white">
						<h5 class="card-title cardtitlefont" style="color:white">LINKEDIN</h5>
						<p class="card-text cardfont">Check me out on LinkedIn for more education and experience information.</p>
						<a href="https://www.linkedin.com/in/bagus-prabowo-reksoprodjo-55152619b/">
							<button type="button" class="btn btn-primary navfont bg-white shadow-none" style="color:black; margin-bottom:5px" data-toggle="button" aria-pressed="false" style="font-size:150%">
								BAGUS' LINKEDIN
							</button>
						</a>
					</div>
				</div>
				
				<div class="card" data-aos="fade-left" data-aos-duration="2000">
					<div class="card-body">
						<h5 class="card-title cardtitlefont">E-MAIL</h5>
						<p class="card-text cardfont">Or, send an email to me!<br>I'll try to reply as fast as I can.</p>
						<a href="mailto:bagus3621@gmail.com">
							<button type="button" class="btn btn-primary navfont bg-dark shadow-none" data-toggle="button" aria-pressed="false" style="font-size:150%; margin-top:20px">
								BAGUS' GMAIL
							</button>
						</a>
					</div>
				</div>
				
				
			</div>	
			
		</div>
		
{% endblock %}