{% extends "homepage/base.html" %}
{% load static %}

	{% block content %}
		
		<title>Gallery</title>
		
	</head>

	<body class="body">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
			<div class="container">
				<a class="navfont" style="color:white">BAGUS PRABOWO</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:home' %}">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:about' %}">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:contact' %}">CONTACT ME</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle navfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  FORM
							</a>
							<div class="dropdown-menu bg-dark navfont" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" style="color:white !important" href="{%  url 'homepage:friendform' %}">FORM FILL</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" style="color:white !important;" href="{%  url 'homepage:friendlist' %}">FRIENDS LIST</a>
							</div>
						</li>
						<li class="nav-item active">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:gallery' %}">GALLERY</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
		<div class="container center">
			
			<div class="col-md-auto welcome">
				<b>
					SEE MORE OF MY WORK
				</b>
			</div>
			
		</div>
		
		<div class="container" style="margin-top:50px; margin-bottom:50px" data-aos="fade" data-aos-duration="2000">
		
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
			
				<div class="carousel-inner galleryborder" style="margin:0 auto">
				
					<div class="carousel-item active">
						<img src="/static/homepage/Pictures/lab315351.jpeg" class="d-block w-100 picture" alt="Jordan">
					</div>
					
					<div class="carousel-item">
						<img src="/static/homepage/Pictures/IMG-4983.jpeg" class="d-block w-100 picture" alt="Jordan">
					</div>
					
					<div class="carousel-item">
						<img src="/static/homepage/Pictures/c417597.jpeg" class="d-block w-100 picture" alt="Jordan">
					</div>
					
					<div class="carousel-item">
						<img src="/static/homepage/Pictures/c417596.jpeg" class="d-block w-100 picture" alt="Jordan">
					</div>
					
					<div class="carousel-item">
						<img src="/static/homepage/Pictures/c417531.jpeg" class="d-block w-100 picture" alt="Jordan">
					</div>
					
				</div>

				
				<a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				
				<a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
				
			</div>
			
			
		</div>
	
{% endblock %}