{% extends "homepage/base.html" %}
{% load static %}
	{% block content %}
		
		<title>Welcome</title>
		
	</head>

	<body class="body">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
			<div class="container">
				<a class="navfont" style="color:white">BAGUS PRABOWO</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:home' %}">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:about' %}">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:contact' %}">CONTACT ME</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle navfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  FORM
							</a>
							<div class="dropdown-menu bg-dark navfont" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" style="color:white !important" href="{%  url 'homepage:friendform' %}">FORM FILL</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" style="color:white !important;" href="{%  url 'homepage:friendlist' %}">FRIENDS LIST</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:gallery' %}">GALLERY</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		
		<div class="container" style="margin-top:25px">
		
			<div class="row center welcomemargin">
				<div class="col-md-auto text-center col-sm picture1">
					<img src="{% static 'homepage/Pictures/c2632.jpeg' %}" class="nongallery" alt="Volendam" data-aos="fade" data-aos-duration="2000">
				</div>
				<div class="col-6 col-md-4 text-center col-sm">
					<p class="dropdown welcome" style="line-height:1.2">
						Welcome<br>To<br>My<br>Page<br>
					</p>
				</div>
			</div>
				
			<div class="row justify-content-between">
				<div class="col-sm welcome get">
					Get To<br>Know Me More!
					<img src="{% static 'homepage/Pictures/c2599.jpeg' %}" alt="Forest" class="nongallery" data-aos="fade-left" data-aos-duration="2000" style="margin-top:50px">
				</div>
				<div class="col-sm">
					<img src="{% static 'homepage/Pictures/c2631.jpeg' %}" alt="Volendam 2" class="nongallery" data-aos="fade-right" data-aos-duration="2000" style="margin-top:50px">
				</div>
			</div>
			
			<div class="row justify-content-around" style="margin-top:0px; margin-bottom:0px">
				<div class="col-sm">
					<a href="{% url 'homepage:about' %}">
						<button type="button" class="btn btn-primary navfont bg-dark shadow-none learn" data-toggle="button" aria-pressed="false">
							Learn More
						</button>
					</a>
				</div>
				<div class="col-sm text-center">
					<img src="{% static 'homepage/Pictures/IMG-4998.jpeg' %}" alt="Restaurant" class="nongallery" data-aos="fade-down" data-aos-duration="2000" style="margin-bottom:20px">
				</div>
			</div>
			
		</div>
	
{% endblock %}