{% extends "homepage/base.html" %}
{% load static %}

	{% block content %}
		
		<title>Thanks</title>
		
    </head>

    <body class="body">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top" id="mainNav">
			<div class="container">
				<a class="navfont" style="color:white">BAGUS PRABOWO</a>
				<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:home' %}">HOME</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:about' %}">ABOUT</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:contact' %}">CONTACT ME</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle navfont" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							  FORM
							</a>
							<div class="dropdown-menu bg-dark navfont" aria-labelledby="navbarDropdown">
							  <a class="dropdown-item" style="color:white !important" href="{%  url 'homepage:friendform' %}">FORM FILL</a>
							  <div class="dropdown-divider"></div>
							  <a class="dropdown-item" style="color:white !important;" href="{%  url 'homepage:friendlist' %}">FRIENDS LIST</a>
							</div>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger navfont" href="{% url 'homepage:gallery' %}">GALLERY</a>
						</li>
					</ul>
				</div>
			</div>
        </nav>


        <div class="row justify-content-start center">
            <div class="col-sm bodyfont about1" style="margin-top:50px; font-size:300%">
                Thank you for your submission!
            </div>
        </div>
		
		
		{% endblock %}