.body
{
	background: #D9D6CE;
}

.welcomemargin
{
	margin-left:none;
}

.nongallery
{
	width:200px;
	height:200px;
}

.picture
{
	width: 300;
	height: 300;
}

.profilepicture
{
	width: 200px;
	height: 200px;
}

.picturemargin
{
	margin-bottom: 10px;
	margin-top: 25px;
}

.get
{
	margin-top:20px;
	line-height:1.2;
	text-align:right !important;
}

.navfont
{
	font-family: 'Bebas Neue', cursive;
	font-size:150%;
	color: white;
}

.learn
{
	margin-top:20px;
	margin-bottom:20px;
	font-size:200%;
}

.submit
{
	font-size: 100%;
}

.buttonfont
{
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	color:white;
}

.welcome
{
	font-family: 'Playfair Display', serif;
	font-size:175%;
	text-align:left;
}

.picture1
{
	margin-bottom:10px;
}

.about1
{
	text-align:left;
}

.about2
{
	text-align:right;
}

.cardtitlefont
{
	font-family: 'Bebas Neue', cursive;
	font-size:150%;
	color: black;
}

.cardfont
{
	font-family: 'Playfair Display', serif;
	text-decoration:italic;
	font-size:100%;
	text-align:left;
}

.bodyfont
{
	font-family: 'Playfair Display', serif;
	font-size: 150%;
	color:black;
}

.margintop
{
	margin-top:50px;
}

.center
{
	justify-content: none;
	align-items: none;
}


.dropdown
{
	color: black;
}

.bg-dark
{
    background-color: black !important;
	border: none !important;
}

.bg-brown
{
    background-color: #D9D6CE !important;
	border: none !important;
}

.bg-white
{
	background-color: white !important;
	border: none !important;
}

.textcenter
{
	text-align: center;
}

.galleryborder
{
	width:300px;
	height:300px;
}

@media (min-width:768px)
{
	.nongallery
	{
		width:400px;
		height:400px;
	}
	.get
	{
		margin-top:100px;
		margin-bottom:100px;
		line-height:1.2;
		text-align:left !important;
	}
	.welcomemargin
	{
		margin-left:50px;
	}
	.welcome
	{
		font-size:250%
	}
	.learn
	{
		margin-top:150px;
		font-size:300%;
	}
	.picture
	{
		width: 400px;
		height: 400px;
	}
	
	.profilepicture
	{
		width: 300px;
		height: 300px;
	}
	
	.galleryborder
	{
		width: 400px;
		height: 400px;
	}
	
	.center
	{
		justify-content: center;
		align-items: center;
	}
	.about1
	{
		text-align:center;
	}

	.about2
	{
		text-align:center;
	}
	.submit
	{
		font-size: 200%;
	}
}